<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="nav_icon" onlclick="toggleSidebar()">
      <i class="fa fa-bars"></i>
  </div>
  <div class="navbar__left">
      <a href="/">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                  d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
              <path fill-rule="evenodd"
                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
          </svg>
      </a>
  </div>
  <h2 style="color: white;">Easy Docs</h2>
  <div class="navbar__right">
      <a routerLink="/login" style="color: white;">
          SIGN IN
      </a>
      <a routerLink="/register" style="color: white;">
          SIGN UP
      </a>
  </div>
</nav><br><br><br><br>


  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="list">
      <div class="carousel-item active">
        <div class="carousel-caption">
           

          <div class="container">
            <div class="row">
                <div class="col-md-6 mt-5 mx-auto">
                 

                    <form (submit)="register()">
                        <h1 class="h3 mb-3 font-weight-normal">Sign up and continue</h1>
                        <div class="form-group">
                            <label>
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                              First Name</label>
                            <input type="text" class="form-control" name="firstName"  placeholder="Enter Your First Name"
                            [(ngModel)]="firstName">
                        </div>
        
                        <div class="form-group">
                            <label>
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                              Last Name</label>
                            <input type="text" class="form-control" name="lasttName"  placeholder="Enter Your Last Name"
                            [(ngModel)]="lastName">
                        </div>
        
                        <div class="form-group">
                            <label>
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                </svg>
                              Email Address</label>
                            <input type="email" class="form-control" name="email"  placeholder="Enter Your Email"
                            [(ngModel)]="email">
                        </div>
        
                        <div class="form-group">
                            <label>
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                              <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                          </svg>
                              Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter Your Password"
                            [(ngModel)]="password">
                        </div>
                        <flash-messages></flash-messages>
                        <button class="btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
        
            
        </div>
        <img class="d-block w-100" src="../../../assets/image/lap.jpg" alt="First slide">
        
      </div>
     
    </div>
    
  </div>
  <footer class="bg-dark text-center text-white">

    <table style="width:100%" class="footer">
        <tr>
            <th>About Us</th>
            <th>Contact Us</th>
        </tr>
        <tr>
            <td> Mind_Optimizers,</td>
            <td>Deebits Software Engineering,</td>
        </tr>
        <tr>
            <td>Faculty of Information Technology,</td>
            <td>630/1/E, Bandarawatta,</td>
        </tr>
        <tr>
            <td>University of Moratuwa .</td>
            <td>Kadawatha</td>
        </tr>
    </table>

</footer>
