 

#wrapper{
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.25);
}

 #r1 .card{
    background-color: rgba(222, 226, 230, 1);
    border: 0px;
 }

 #r1 #card2-f{
    background-color: white;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.25);
    transform: rotate(0);
 }

 #r2{
    background-color: white;
 }

 #r2 .form-control{
    border-radius: 12px;
    padding-left: 20px;
 }
 #r2 .btn{
    background-color:  #18B5F9; 
    color: black;
 }

 #r3{
    background-color: white;
 }

 #r3 .table{
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.25);
 }

 .table button{
  border: 0px;
 }


 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
 }
 
 .switch input { 
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 34px;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 34px;
 }
 
 input:checked + .slider {
   background-color:  #18B5F9;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }
 
 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }
 h1{
  color: #500404;
  margin-bottom: 10px;
  margin-top: 10px;
}