
  <app-navbar></app-navbar>

  <div class="container" margin-left="300px">
    <div class="col-xl-10 col-lg-9 col-md-8 p-0 ml-auto">
        <div class="row">
            <div class="col-md-12 m-5 mx-auto">


                <div class="container mt-4" margin-left="300px">
                    <div class="container">
                      <div class="row">
                        <a href="#" class="btn btn-info btn-lg" routerLink="/addCategory">
                            <span class="glyphicon glyphicon-plus-sign"></span> + ADD
                          </a>

                          

                      </div>
                  </div>
                </div>



            </div>
        </div>
    </div>
  </div>
     
     


